{% extends "student/base.html" %}

{% block title %}Student Login{% endblock %}

{% block content%}
    <h1>Teacher Login</h1>
    <form action="{{url_for('teacherSignIn')}}" method="POST">
        Enter Email or Phone Number
        <input type="text" name="email" placeholder="Email or Phone number here" id="" required>
        Enter Password
        <input type="password" name="password" placeholder="Password here" id="" required>
        <input type="submit" value="Submit">
    </form>
{% endblock %}