{% extends "Admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content%}
    <h1>Edit Class</h1>
    <a href="{{url_for('enrollStudent')}}">Add students to this class</a>
<div class="container">
    <div class="card" style="width: 80%;margin: 20px auto; padding: 50px;">
        <form action="{{url_for('editClass',id=c.class_id)}}" method="POST" id="form1">
            <div class="form-group">
                Class name
                <input type="text" class="form-control" name="class_name" id="" required value="{{c.class_name}}">
            </div>
            <div class="form-group">
                Subject name
                <input type="text" class="form-control" name="subject_name" id="" required value="{{c.subject_name}}">
            </div>
            Teacher
            <select name="teacher_id">  
                {% for t in teachers %}
                <option value = "{{t.teacher_id}}"{% if t.teacher_id==c.teacher_id %}selected{% endif %}>{{t.first_name+' '+t.last_name}}</option>  
                {% endfor %}
            </select>  
            <div class="form-group pt-2">
                <input class="form-control" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}