{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content%}
    <h1>Logged in as Admin</h1>
    <a href="{{url_for('signout')}}">Log out</a>

    <ul>
        <li><a href="{{url_for('addStudent')}}">Add Student</a></li>
        <li><a href="{{url_for('addTeacher')}}">Add Teacher</a></li>
        <li><a href="{{url_for('addAdmin')}}">Add Admin</a></li>
        <li>Add class</li>
        <li>See students</li>
        <li>See teachers</li>
        <li>See admins</li>
        <li>See classes</li>
        <li>Modify student</li>
        <li>Modify teachers</li>
        <li>Modify Admins</li>
        <li>Modify Classes</li>
        <li>delete student</li>
        <li>delete teacher</li>
        <li>delete admin</li>
        <li>delete class</li>
        <li>Notifications for student</li>
        <li>Notifications for teacher</li>
    </ul>
{% endblock %}