{% extends "admin/base.html" %}

{% block title %}Home{% endblock %}

{% block content%}
    <h1>Logged in as Admin</h1>
    <a href="{{url_for('signout')}}">Log out</a>

    <ul>
        <li><a href="{{url_for('addStudent')}}">Add Student</a></li>
        <li><a href="{{url_for('addTeacher')}}">Add Teacher</a></li>
        <li><a href="{{url_for('addAdmin')}}">Add Admin</a></li>
        <li><a href="{{url_for('addClass')}}">Add Class</a></li>
        <li><a href="{{url_for('getStudents')}}">See students</a></li>
        <li><a href="{{url_for('getTeachers')}}">See teacherss</a></li>
        <li><a href="{{url_for('getClasses')}}">See classes</a></li>
        <li><a href="{{url_for('getAdmins')}}">See admins</a></li>
        <li>Notifications for student</li>
        <li>Notifications for teacher</li>
    </ul>
{% endblock %}